@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

/* BODY */

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Dancing Script', cursive;
    justify-content: space-between;
    background-color: #FBEAEB;
}

/* HEADER */

#header {
    text-align: center;
    background-color: #2F3C7E;
    padding: 10px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    color: white;
}

#title {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

#author {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

/* CONTAINER */

#container {
    width: 480px;
    height: 480px;
    display: flex;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
    box-shadow: 7px 7px lightgrey;
}

#widthHeight {
    text-align: center;
    font-weight:1000px;
    margin-top: 10px;
    font-size: 24px;
}

/* BUTTONS */

#gridSize {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* FOOTER */
#footer {
    background-color: #2F3C7E;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}